  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  background-image: url(img.jpg);
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Make sure the background image stays fixed */
  display: flex;
  justify-content: center;
  align-items: center;
	@@ -18,6 +21,7 @@ body {
  box-shadow: 0 4px 8px rgba(224, 7, 7, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h2 {
	@@ -35,15 +39,15 @@ label {

input[type="email"],
input[type="password"] {
  width: calc(100% - 14px); /* Adjust the width to account for padding and margin */  
  padding: 7px;
  margin-left: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: calc(100% - 14px);/* Adjust the width to account for padding and margin */ 
  padding: 10px;
  background-color: #2911c6;
  color: white;
	@@ -113,4 +117,4 @@ button:hover {

.success-card p {
  color: #333;
}
